<div id="container">
    <div class="dumbbell-container" #dumbbellLeft>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
        <div class="grip-section"></div>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
    </div>
    <div id="register-container">
        <h1 id="register-title">FITCORE</h1>
        <p style="color: rgba(255, 255, 255, 0.7); margin-top: 0.5rem; margin-bottom: 0; font-size: 0.9rem; text-align: center;">Crie sua conta</p>
        <form method="post" id="form-register" autocomplete="off">

            <div class="input-container">
                <fieldset class="input-fieldset">
                    <legend class="input-legend">Nome completo</legend>
                    <input type="text" class="input" id="Nome" #Nome required>
                </fieldset>
            </div>
            
            <div class="input-container">
                <fieldset class="input-fieldset">
                    <legend class="input-legend">Email</legend>
                    <input type="email" class="input" id="Email" #Email required>
                </fieldset>
            </div>
            
            <div class="input-container">
                <fieldset class="input-fieldset">
                    <legend class="input-legend">Senha</legend>
                    <input type="password" class="input" id="Senha" #Senha required>
                </fieldset>
            </div>
            
            @if (errorMessage) {
                <div id="error-message" class="error-text">{{ errorMessage }}</div>
            }
            <button (click)="handleSubmit($event)" type="button" id="register-button">Criar conta</button>

        </form>
        <div id="login-section">
            <p (click)="goToLogin()" id="login-text">Já tem uma conta? <span id="login-link">fazer login</span></p>
        </div>
    </div>
    <div class="dumbbell-container" #dumbbellRight>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
        <div class="grip-section"></div>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
        <div class="weight-plate"></div>
    </div>
</div>
