<div id="header">
    <div id="header-left">
        <img src="/Logo.svg" alt="FitCore Logo" (click)="toHome()">
    </div>
    <div id="header-right">
        @if (isAuthenticated$ | async) {
            <button id="logout-button" (click)="logout()">Sair</button>
        } @else {
            <img src="/Menu.svg" alt="Menu" (click)="setModalMenu()">
        }
    </div>
</div>
@if(modalMenu && !(isAuthenticated$ | async)){
    <div id="blur">
        <div id="modal-menu">
            <div id="container-top-modal-menu">
                <img id="logo" src="/Logo-black.svg" alt="FitCore Logo">
                <div id="close-modal-menu" (click)="setModalMenu()">
                    <img src="/Fechar.svg" alt="Fechar">
                </div>
            </div>
            <div id="horizontal-row"></div>
            <div id="container-button-login">
                <button id="button-login" (click)="toLogin(); setModalMenu()">ENTRAR</button>
            </div>
            <div id="menu">
                <div (click)="toHome(); setModalMenu()" class="menu-space" class="menu-item">
                    <h2 class="menu-title">Home</h2>
                    <hr class="menu-row">
                </div>
                <div class="menu-space" class="menu-item">
                    <h2 class="menu-title">Lorem</h2>
                    <hr class="menu-row">
                </div>
                <div class="menu-space" class="menu-item">
                    <h2 class="menu-title">Lorem</h2>
                    <hr class="menu-row">
                </div>
                <div class="menu-space" class="menu-item">
                    <h2 class="menu-title">Lorem</h2>
                    <hr class="menu-row">
                </div>
            </div>
        </div>
    </div>
}

