<div class="page-container">
    @if (currentUser$ | async; as user) {
        <h1 class="user-welcome">Bem-vindo, {{ user.name }}!</h1>
    }
    <h1 class="dashboard-title">Dashboards</h1>
  
    <div class="segmented-control">

      <input type="radio" name="segment" id="Feedbacks" [(ngModel)]="tab" value="Feedbacks">
      <label for="Feedbacks">Feedbacks</label>

      <input type="radio" name="segment" id="Dashboard" [(ngModel)]="tab" value="Dashboard" checked>
      <label for="Dashboard">Alunos e Funcionarios</label>

      <input type="radio" name="segment" id="Financeiro" [(ngModel)]="tab" value="Financeiro">
      <label for="Financeiro">Financeiro</label>

    </div>
  
    <div class="tab-content">
      @if (tab === 'Dashboard') {
        <div class="dashboard-placeholder">
          <iframe id="iframe" src="http://localhost:3000/d/berx2tfdq3p4wc/metricas-de-negocio?orgId=1&refresh=30s&kiosk"></iframe>
        </div>
      }

      @if (tab === 'Financeiro') {
        <div class="dashboard-placeholder">
          <iframe id="iframe" src="http://localhost:3000/d/aeu0aqmon588wc/dashboard-financeiro?orgId=1&refresh=1m&kiosk"></iframe>
        </div>
      }
      @if (tab === 'Feedbacks') {
        <div class="dashboard-placeholder">
          <iframe id="iframe" src="http://localhost:3000/d/detc98fmewmioc/analise-dos-feedbacks?orgId=1&refresh=5m&kiosk"></iframe>
        </div>
      }
    </div>
  </div>
  