<div class="page-container">
    @if (currentUser$ | async; as user) {
        <h1 class="user-welcome">Bem-vindo, {{ user.name }}!</h1>
    }
    <h1 class="dashboard-title">Dashboard</h1>
  
    <div class="segmented-control">
      <input type="radio" name="segment" id="alunos" [(ngModel)]="tab" value="alunos" checked>
      <label for="alunos">Alunos</label>
  
      <input type="radio" name="segment" id="colaboradores" [(ngModel)]="tab" value="colaboradores">
      <label for="colaboradores">Colaboradores</label>
  
      <input type="radio" name="segment" id="financeiro" [(ngModel)]="tab" value="financeiro">
      <label for="financeiro">Financeiro</label>
    </div>
  
    <div class="tab-content">
      @if (tab === 'alunos') {
        <div class="dashboard-placeholder">
          Dashboard Alunos (embed Grafana aqui)
        </div>
      }
  
      @if (tab === 'colaboradores') {
        <p>Conteúdo de Colaboradores aqui.</p>
      }
  
      @if (tab === 'financeiro') {
        <p>Conteúdo de Financeiro aqui.</p>
      }
    </div>
  </div>
  